<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tareas Django CRUD</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tareas">Tareas</a></li>
        <li><a href="/iniciarSesion">Iniciar Sesion</a></li>
        <li><a href="/salir">Salir</a></li>
        <li><a href="/registro">Registro</a></li>
      </ul>
    </nav>
    {% block content %} content {% endblock %}
  </body>
</html>
