<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tareas Django CRUD</title>
    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@40"></script>
      </head>
      <body>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>

            {% if user.is_authenticated %}
            <li><a href="/tareas">Tareas</a></li>
            <li><a href="/salir">Salir</a></li>
            <p>Usuario: <strong>{{user.username}}</strong></p>

            {% else %}
            <li><a href="/iniciarSesion">Iniciar Sesion</a></li>

            <li><a href="/registro">Registro</a></li>
            {% endif %}
          </ul>
        </nav>
        {% block content %} content {% endblock %}

        <footer><p>&copy; 2025</p></footer>
      </body>
    </html>
  </head>
</html>
